.commit-detail {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.code {
	counter-reset: linecounter;

	.line-removed,
	.line {
		width: 100%;
		display: inline-block;
	}

	.line {
		counter-increment: linecounter;

		&:before {
			content: counter(linecounter);
			color: #aaa;
		}
	}
}
